@font-face {
    font-family: 'Museo Sans 500';
    src: url(../fonts/MuseoSansCyrl_1.otf);
   }
body, html {
  font-family: 'Museo Sans 500';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 550px;
  min-width: 600px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/89_2.jpg);
}
.circles .clearfix{
  height: 240px;
  margin-bottom: 50px;
}
section.speakers {
  height: auto;
  display: block;
}
.speaker_photo img {
  width: 100%;
      height: 100%;
      display: block;
  }

.speakers h2{
  text-align: center;
  margin: 50px 0;
  font-size: 100px;
  font-style: italic;
}
.speaker {
  width: 100%;
  min-height: 200px;
  margin-top: 30px;
  margin: 0px auto;
  min-width: 200px;
}
.slider-nav .slick-slide  {
    padding: 0px 10px;
}
.slider-nav .slick-slide:hover {
  opacity: 0.8;
}
.slider-nav .slick-slide {
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.5;
}
.slider-nav .slick-current {
  opacity: 1 !important;
}
.tickets {
  height: auto;
  padding-bottom: 50px;
}
.ticket a{
  text-align: center;
  margin: 0 auto;
  display: inline-block;

}
@media (max-width:991px) {
  .navbar-text {
    float: left !important;
  }
  .tickets .col-md-3 {
      width: 50%;
      margin-bottom: 30px;
      flex: none;
      max-width: initial;
  }
}
.ticket .buy-tickets:hover{
background-color: #e62b1e;
}
.ticket .buy-tickets{
float: none;
margin-top: 10px;
background-color: #222220;
}
.ticket {
  text-align: center;
    height: 300px;
    //box-shadow: 2px 2px 6px 0px #ababab;
    box-sizing: border-box;
border: 1px solid #292b2c;
    width: 100%;
    padding-top: 30px;
}
.ticket span {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-style: italic;
    margin-top: 20px;

    padding: 0 10px;
    font-size: 14px;
    color: #4a4545;
}
.ticket-info {
      padding: 20px 0;
  border-bottom: 1px solid #ece9e9;
  border-top: 1px solid #ece9e9;
}
.ticket div {

}
.ticket h2 {
    color: #e62b1e;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    display: inline-block;
    width: 100%;
}
.ticket h1 {
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}
@media (max-width: 616px) {
.row {
  margin: 0
}
.container{
  padding: 0;
}
.container {
    width: 100%;
  }
}
.speaker_photo {
  width: 200px;
  padding: 10px;
  background: linear-gradient(-135deg, #e62b1e 15%, transparent 15%),
              linear-gradient(45deg, #e62b1e 15%, transparent 15%, transparent 35%, #e62b1e 35%, #e62b1e 65%, transparent 65%);
  background-size: 26px;
  background-position: -4px;
  height: 200px;
  border-radius: 100px;
  margin:0 auto;
}
.circles {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 600px;
}
.navbar .navbar-collapse ul{
  margin: 0 auto;
}
.navbar {
  z-index: 5;
  min-height: 56px;
  width: 100%;
  background-color: white;
}
.promo-text {
font-family:'Museo Sans 500';
background-color: #222220;
color: white;
display: inline-block;
width: 100%;
letter-spacing: 1px;
font-size: 30px;
}
section {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}
.promo {
  display: flex;
  text-align: center;
  background-color: rgba(255,255,255,0.9);
  align-items: center;
}

.rbg-0-2{
  background: linear-gradient(#e62b1e 25%, transparent 25%);
  left: 120px;

}
.rbg-45-4{
  background: linear-gradient(#e62b1e 50%, transparent 50%);
  transform: rotate(-45deg);
  left: 240px;
}
.rgb-45-none {
  background: linear-gradient(-45deg,
      transparent 14.9%,
      #e62b1e 14.9%, #e62b1e 60%,
      transparent 60%
      ),
    linear-gradient(-45deg,
      #e62b1e 10%,
      transparent 10%
      ),     linear-gradient(135deg,
            #e62b1e 35%,
            transparent 35%
            ),linear-gradient(90deg,#e62b1e 50%, white 50%) ;
}
.buy-tickets:hover {
  background-color:#222220;
}
.buy-tickets.btn-success {
  box-shadow: none !important;
  text-decoration: none !important;
}
.buy-tickets {
  float: right;
  cursor: pointer;

      border-radius: 0;
      background-color: #e62b1e;
      border: 0 !important;

}
.promo-info {
  float: left;
  line-height: 40px;
}
.promo-bar {
  font-family: 'Museo Sans 500';
  font-size: 20px;
  margin-top: 30px;

}
.about h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.spiker-promo h1 span{
  background-color: #222220;
  color: #F1F1F1;
  font-size: 32px;
}
.spiker-promo .container > span, .spiker-promo h1{
  display: inline-block;
}
.spiker-promo .container > span{
  margin-bottom: 30px;
}
.team {
  height: auto;
}
.team  .row {
  margin: 0;
  justify-content: center;
}
.team  .row > .col-lg-6 {
  padding: 0;
  flex: none;
  max-width: none;
  float: left;
  width: auto;
}
.team  .row > .col-lg-6 >.col-lg-6 {
overflow: hidden;
height: 270px;
float: left;

max-width: none;
width: 210px;
flex: none;
margin: 0;
padding: 0;
}
footer {
  text-align: center;
  padding: 50px 20px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  margin-top: 40px;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}
.map a:hover {
  color:black;
}
.map a {
  color: #e62b1e;
}
.team  .row > .col-lg-6 >.col-lg-6:hover img{
  filter: none;
}
.team a {
  color: #ffffff;
      display: block;
      width: 100%;
      text-align: center;
      font-family: 'Museo Sans 500';
      text-decoration: none !important;
      height: 100%;
      font-size: 20px;
}

.slick-prev:before, .slick-next:before {
    color: #e62b1e;
}

.slider-for .slick-slide h2 {
  text-align: left;
  font-size: 35px;
}
.slider-nav .slick-slide.slick-current h1 {
  opacity: 1;
}
.slick-dots li button:before {
  width: 20px;
  height: 20px;
  color: #e62b1e !important;
  font-size: 11px;
}
.slick-dots {
  bottom: -55px;
}
.speakers {
  padding: 60px 0;
  overflow: hidden;
}
.slider-for .slick-list {
  overflow: visible;
}
.slider-for .slick-slide h1 span{
  padding: 10px 20px;
background-color: black;
color: white;
font-size: 25px;
margin-top: -30px;
display: inline-block;
position: relative;
top: -30px
}
.slider-for .slick-slide h1 {
  text-align: center;
  transition: 0.5s;
  display: block;
  z-index: 5;
  position: relative;
}
.team a:hover span {
  opacity:1;
}
.team a span {
  font-size: 18px;
}
.team h1 {
  text-align: center;
  margin: 60px 0;
  font-family: 'Museo Sans 500';
}
.team span {
  opacity: 0;
  transition: 0.3s;
  z-index: 2;
  position: absolute;
  bottom: 0;
  background: #e62b1e;
  padding: 10px 0;
  left: 0;
  width: 100%;
}
.team img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale();
  width: 100%;
  cursor: pointer;
}
.spiker-promo h1{
  text-align: center;
  margin: 60px 0;
  width: 100%;
}
.spiker-promo {
  text-align: center;
  min-height: 100px;
  height: auto;
  background-color: #F1F1F1;
  color: #222220;
}

.promo > div {
  margin: 0 auto;
}
.rbg-90-6{
  background: linear-gradient(90deg,#e62b1e 75%, transparent 75%);
  left: 360px;
}
.about {
  min-height: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.navbar-brand {
  padding: 0;
}
.map {
  height: 650px;
  background-image: url(../img/arena.jpg);
background-size: cover;
}
#map{
  width: 100%;
  height: 100%;
}
.map  div .col-lg-6{
margin: 0;
height: 100%;
background-color: white;
padding: 0;
}
.act {
  width: 200px;
height: 100px;
position: relative;
border-radius: 50px;
background-size: 12px;
left: 0;
text-align: center;
margin: 30px auto;
margin-bottom: 16px;
background-position: 0px 1px;
}
.act > div {
  width: 100px;
height: 100px;
border-radius: 50px;
background-color: #e62b1e;
float: right;
background-size: 12px;
}
.navbar .navbar-text a {
  padding: 0px;
line-height: 40px;
color: rgba(0,0,0,.5);
}

.navbar-text.pull-right {
  padding: 0;
}
.facebook {
  width: 36px;
  margin-left: 10px;
  height: 36px;
  background-size: 36px;
  background-image: url(../img/facebook.png)
}
.map div .col-lg-6 .social a{
  float: left;
}
.map div .col-lg-6 .social{
  margin: 0 auto;
  display: inline-block;
}
.map div .col-lg-6 .buy-tickets{
  float: none;
  display: inline-block;

}
.map div .col-lg-6 > div{
  margin: 0 auto;
}
.map div .col-lg-6{
  padding: 20px;
  display: flex;
  align-items: center;
}
.map .col-lg-6 h2 {
  /*text-align: center;*/
  width: 100%;
  font-size: 25px;
  margin-top:0; /*56px;*/
  margin-bottom: 10px;
}
.map > div {
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.61);
  padding: 30px;
  height: 550px !important;
  background-position: center top;
  box-sizing: border-box;
  background-size: 32px 32px;
}
.act > p {
  padding: 0px 10px;
      font-size: 2em;
      background-color: #222220;
      color: white;
      position: absolute;
      bottom: -16px;
      text-align: center;
      zoom: 0.9;
      display: inline-block;
      left: 50%;
      margin: 0;
      margin-left: -43px;
}
section.map .row{
  margin: 0;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.rbg-135-7{
  background: linear-gradient(#e62b1e 87.2%, transparent 87.2%);
  left: 480px;
    transform: rotate(45deg);
}
.rbg-45-7{
  background: linear-gradient(#e62b1e 87.2%, transparent 87.2%);
  left: 480px;
    transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.circles .logo-circle img {
width: 90%;
margin: 0 auto;
}
.circles .logo-circle {
  background-color: #e62b1e;
  left: 300px;
  opacity: 0;
  display: flex;
  transition:0.3s ease-out;
}
.pull-right {
  float: right;
}
.sm-line .circle{
  margin: 0 auto;
position: absolute;
left: 50%;
margin-top: -120px;
margin-left: -120px;
}
.sm-line > p {
  padding: 0px 10px;
  font-size: 2em;
  background-color: #222220;
  color: white;
  position: relative;
  margin-top: -18px;
  display: inline-block;
}
.sm-line {
  text-align: center;
  margin: 0 auto;
  padding-top: 135px;
  top:15px;
  width: 360px;
  position: relative;
}
.sm-line > div {
  width: 360px;
height: 120px;
left: 0;
position: relative;
background-size: 23px;
border-radius: 60px;

}
.sm-circle {
  width: 120px;
  height: 120px;
  display: block;
  background-size: 12px;
  border-radius: 60px;
  transition:1s ease-out;
}
.circle {
  width: 240px;
  height: 240px;
  margin-left: -120px;
  display: block;
  background-size: 12px;
  border-radius: 120px;
  position: absolute;
  transition:1s ease-out;
}
.circles:hover .logo-circle{
 opacity: 1;
 transition-delay: 0.7s;
}
.circles:hover .circle{
  left:300px;
}
