{% extends 'base.html' %}

{% load static %}
{% load filter_youtube %}


{% block page_name %}
{{ main_event.name }}
{% endblock %}


{% block head_libs %}

{% endblock %}

{% block head %}

{% endblock %}


{% block nav_name %}
{{ main_event.name }}
{% endblock %}

{% block body %}
<div class="mdl-layout__tab-panel is-active" id="main_event{{ main_event.id }}">

    <section class="section--center mdl-grid mdl-grid--no-spacing header_video" style="background-color:white;">
        <div class="img" style="background-image:url(/media/{{ main_event.photo }});"></div>
        <div class="event-bg">
            <div class="container">
                <div class="row">
                <div class="col"><h1 >{{ main_event.name }}: {{ main_event.title }}</h1>
            </div>
            </div>
            </div>

        </div>
    </section>


    <div class="container main_event_container">
        <div class="row">

            {% for speaker in main_event.speakers.all %}

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm  mdl-js-button mdl-js-ripple-effect section__play-btn"
                     --data-youtube="{{ speaker.video_link | youtube }}">
                    <div class="bd-placeholder-img card-img-top speaker-preview"
                         style="background-image:url(/media/photos/{{ speaker.photo }});width:100%;padding-bottom:66%;background-position:center;background-size:cover;">

                    </div>
                    <div style="position:relative;">
                        <div style="    width: 100%;
    padding: 1.25rem;
    position: absolute;
    bottom: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 37%, rgba(0,0,0,0.75) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 37%,rgba(0,0,0,0.75) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 37%,rgba(0,0,0,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 );
    color: white;"><b class="card-text">{{ speaker.name }} {{ speaker.surname }}</b>
                            <p class="card-text">{{ speaker.topic }}</p></div>
                        <div class="card-body">

                            <p class="card-text">{{ speaker.description|truncatechars:200 }}</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {% endfor %}


        </div>

    </div>

    <section class="event-partners bg-white">
        <div class="container">

        {% for partnergroup in main_event.partnergroups.all %}
        <div class="row event_partners_group">

                 <div class="col-12"><h1>{{ partnergroup.name }} </h1></div>

                {% for partner in partnergroup.partners.all %}
                    <div class="col-{{ partnergroup.size_1 }} col-sm-{{partnergroup.size_2}}  col-lg-{{partnergroup.size_3}} event_partner">
                        <a href="{{ partner.link }}"><img class="event_partner-image" src="/media/photos/{{ partner.photo }}" alt="{{ partner.name }}"></a>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
        </div>
    </section>

</div>

{% endblock %}


{% block end_body %}

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay mdl-grid" tabindex="-1" data-micromodal-close>
        <div class="modal__container mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet" role="dialog"
             aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <h4></h4>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-1-content">

            </main>
        </div>
    </div>
</div>

{% endblock %}


{% block body_scripts %}
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>

<script>

MicroModal.init();
$('.section__play-btn').click(function() {
video = this.getAttribute("--data-youtube")
        console.log(video)

MicroModal.show('modal-1', {
    onShow: modal => {
        $('#modal-1-content').html(`
        <iframe width="100%" height="100%" src="`+ video +`" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                        `)
        console.log(this)
    },
    onClose: modal => {
        $('#modal-1-content').html("")
    }
});
});





</script>
{% endblock %}
