{% extends 'base.html' %}

{% load static %}
{% load filter_youtube %}


{% block page_name %}
    TEDxLviv - Zeitgeist
{% endblock %}


{% block head %}

{% endblock %}

{% block nav_name %}
        TEDxLviv - Zeitgeist
{% endblock %}

{% block body %}

        <div class="mdl-layout__tab-panel is-active" id="overview">

            <section class="section--center mdl-grid mdl-grid--no-spacing header_video">
                <video autoplay loop muted>
                    <source src="{% static 'videos/header.mp4' %}" type="video/mp4">

                </video>
            </section>

            <section class="container mdl-grid ">

                <div class="mdl-card mdl-cell mdl-shadow--2dp  mdl-cell--7-col about-container ">
                    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing about-card">
                        <h4 class="mdl-cell mdl-cell--12-col">TED, TEDx і TEDxLviv - що це?</h4>
                        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--12-col-phone">
                            <div class="section__circle-container__circle mdl-color--primary">TED</div>
                        </div>
                        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                            <h5>Шо таке TED?</h5>
                            TED – платформа ідей та унікальний формат, що об’єднує найбільшу у світі спільноту людей,
                            які бажають змінювати світ на краще, обмінюючись досвідом і думками.

                        </div>
                        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--12-col-phone">
                            <div class="section__circle-container__circle mdl-color--primary">TEDx</div>
                        </div>
                        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                            <h5>Що таке TEDx?</h5>
                            Абревіатура “TED” розшифровується як «Технологія. Розваги. Дизайн.» – три широкі сфери, які,
                            в сукупності визначають наше майбутнє.

                        </div>
                        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--12-col-phone">
                            <div class="section__circle-container__circle mdl-color--primary">TEDxLviv</div>
                        </div>
                        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                            <h5>Що таке TEDxLviv?</h5>
                           TEDxLviv – це перша ініціатива TEDx в Західній Україні. Наша місія – формування
                            інтелектуальної спільноти, де люди постійно обмінюються ідеями, створюють нові рішення,
                            впливають на формування майбутнього, покращують життя.

                        </div>
                    </div>

                </div>
  <iframe style="" class="facebook-frame mdl-shadow--2dp mdl-cell  mdl-cell--4-col"
                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTEDxLviv%2F&tabs=timeline&width=320&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=999857826700956"
                        width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>

            </section>


            <!-- <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                 <div class="mdl-card mdl-cell mdl-cell--12-col">
                     <div class="mdl-card__supporting-text">
                         <h4>Що таке TEDx?</h4>
                         Конференція TED славиться своїми лекціями (TED Talks), які охоплюють технології, розваги,
                         дизайн, природничі науки, мистецтво, освіту, культуру, бізнес, глобальні проблеми та сталий
                         розвиток — широкі сфери тем, що разом формують наше майбутнє.

                         TEDx - це локальна незалежна конференція, що збирає людей разом задля поширеня нових
                         прогресивних думок, це світова спільнота, яка вірить в те, що ідеї можуть змінювати світ.


                     </div>
                     <div class="mdl-card__actions">
                         <a href="https://www.ted.com/" class="mdl-button">Дізнатись більше на сайті TED</a>
                     </div>
                 </div>

             </section> -->
            <section class="section--footer mdl-grid">

                <script type="text/javascript">
                    var widgetOptions = {bg_color: 'fcfcfc', id: 1852499, lang: 'uk', tickets_type: '117429_117430_117431_117432_117433_117434_117435'};
                    (function() {
                        var script = document.createElement('script');
                        script.type = 'text/javascript';
                        script.async = true;
                        script.src = "https://2event.com/js/widget-tickets.js";
                        document.getElementsByTagName('head')[0].appendChild(script);
                    })();
                </script>
                <div id="2event_tickets_widget" class="tickets_widget" style="width: 100%;"></div>

            </section>

        </div>
        <div class="mdl-layout__tab-panel" id="features">
            <section class="section--center mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--12-col">

                </div>
            </section>
        </div>


{% endblock %}


{% block end_body %}


{% endblock %}


{% block body_scripts %}

{% endblock %}